.game-mode-window {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  z-index: 2;

  background-color: rgba(0, 0, 0, 0.55);
}

.game-mode-window .game-mode-board-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  width: 45rem;
  height: 25rem;

  padding: 3rem;

  background-color: #1e212b;
  border-radius: 1rem;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
}

.game-mode-window .game-mode-board-container .game-mode-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-mode-window .game-mode-board-container .game-mode-content span {
    margin-bottom: 2.7rem;

    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: 500;
}

.game-mode-window .game-mode-board-container .game-mode-content .choose-game-mode {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 2rem;
}

.game-mode-window .game-mode-board-container .game-mode-content .choose-game-mode .game-mode input[type="radio"] {
  visibility: hidden;
}

.game-mode-window .game-mode-board-container .game-mode-content .choose-game-mode .game-mode label {
  padding: .8rem;

  border: 1px solid #3cfd93;
  border-radius: .5rem;

  font-size: 1.45rem;
  
  cursor: pointer;

  transition: background .2s;
}

.game-mode-window .game-mode-board-container .game-mode-content .choose-game-mode .game-mode label:hover {
  border-color: #27d374;
}

.game-mode-window .game-mode-board-container .game-mode-content .choose-game-mode .game-mode input[type="radio"]:checked+label {
  background-color: #3cfd93;
  color: #252533;
}

.game-mode-window .game-mode-board-container .game-mode-content .choose-game-mode .game-mode input[type="radio"]:checked+label:hover {
  cursor: default;
}

.game-mode-window .game-mode-board-container .start-game {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  
  width: 100%;
}

.game-mode-window .game-mode-board-container .start-game button {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: .6rem 1.2rem;

  cursor: pointer;

  background-color: #3cfd93;
  color: #252533;
  border: none;
  border-radius: .8rem;

  transition: .3s;
}

.game-mode-window .game-mode-board-container .start-game button:hover {
  background-color: #27d374;
}

@media(max-width: 600px) {
  .game-mode-window .game-mode-board-container {
    width: 30rem;
    height: 25rem;
  }

  .game-mode-window .game-mode-board-container .game-mode-content span {
    margin-bottom: .5rem;
  }
}

@media(max-width: 400px) {
  .game-mode-window .game-mode-board-container {
    width: 25rem;
    height: 25rem;
  }

  .game-mode-window .game-mode-board-container .game-mode-content span {
    margin-bottom: .5rem;
  }

  .game-mode-window .game-mode-board-container .game-mode-content .choose-game-mode {
    gap: 1.4rem;
  }

  .game-mode-window .game-mode-board-container .game-mode-content .choose-game-mode .game-mode label {
    padding: .6rem;

    font-size: 1.3rem;
  }
}

@media(max-width: 300px) {
  .game-mode-window .game-mode-board-container {
    width: 20rem;
    height: 28rem;
  }

  .game-mode-window .game-mode-board-container .game-mode-content span {
    margin-bottom: 1.5rem;
  }

  .game-mode-window .game-mode-board-container .game-mode-content .choose-game-mode {
    flex-direction: column;

    gap: 2rem;
  }
}